/* static/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #abe019;
}

h2, h3 {
    color: #333;
}

form {
    margin-top: 20px;
}

input {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}