{% extends 'base.html' %}

{% block title %}Listado de Incidencias{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">Listado de Incidencias</h1>

{% for incidencia in incidencias %}
<a href="/incidencia/{{ incidencia.id }}" class="card-link">
    <div class="card mb-3 shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><strong>{{ incidencia.usuario }}</strong> - {{ incidencia.resumen }}</h5>
            <p class="card-text">{{ incidencia.descripcion }}</p>
            <small class="text-muted">
                {{ incidencia.servicio }} | {{ incidencia.prioridad }} | {{ incidencia.estado }} | {{ incidencia.fecha_deseada }} | Grupo: {{ incidencia.grupo }}
            </small>
        </div>
    </div>
</a>
{% endfor %}

<div class="text-center mt-4">
    <a href="/crear" class="btn btn-success">Crear nueva incidencia</a>
</div>
{% endblock %}